{{ define "main" }}

{{ .Content }}

<div class="container px-4 bg-white mx-auto py-5">
    {{ $logo := resources.Get "images/logo.svg" }}
    <a href="/">
        <img class="h-8 w-auto sm:h-10" src="{{ $logo.RelPermalink }}">
    </a>
</div>

<div class="relative h-96" style="height: 48rem;">
    <div class="h-full overflow-hidden absolute inset-x-0 z-0">
        <picture class="flex w-full h-full">
            {{ $hero := resources.Get "images/camp-hero.jpg" }}
            {{ $img := $hero.Resize "1920x webp" }}
            <source srcset="{{ $img.RelPermalink }}" type="image/webp" class="object-cover">
            {{ $img := $hero.Resize "1920x" }}
            <img src="{{ $img.RelPermalink }}" alt="Picture of baby" class="object-cover block w-full">
        </picture>
    </div>
    <div class="absolute z-10 bottom-0 inset-x-0 py-10" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, .8) 100%);">
        <div class="container px-4 mx-auto text-center flex flex-col">
            <h1 class="text-5xl font-extrabold text-white mb-3">
                Angelic Treasures Daycamp
            </h1>
            <p class="text-white mb-5 text-lg italic">Join Us for a Summer of Fun, Learning and New Friends</p>
            <a href="#contact" class="px-8 py-3 border border-transparent text-base font-medium rounded-full text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10 place-self-center">
                Sign Up Today
            </a>
        </div>
    </div>
</div>

<div class="py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">What to Expect</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ range $.Site.Data.camp.expect }}
            <div class="rounded-md p-8 shadow text-center h-full flex flex-col justify-between">
                <div class="w-28 rounded-lg {{ .classes }} fill-current p-5 mx-auto mb-5">
                    {{ readFile .icon | safeHTML }}
                </div>
                <h3 class="text-xl font-bold mb-2">{{ htmlUnescape .title }}</h3>
                <p class="text-gray-500">{{ htmlUnescape .text }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div class="bg-gradient py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">Leadership Team</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ range $.Site.Data.staff }}
            {{ partial "staff" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">Program Itinerary</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            {{ partial "camp/itinerary" . }}
        </div>
    </div>
</div>

<div class="pb-20" id="menu">
    <div class="container mx-auto px-4">
        <div class="text-center pb-6">
            <h2 class="main-heading">Meal Plan</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="shadow overflow-x-auto border-b border-gray-200 sm:rounded-lg">
            {{ partial "camp/meals" . }}
        </div>
    </div>
</div>

<div class="bg-gradient py-20" id="facilities">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">See Our Facilities</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ $images := resources.Match "images/facilities/*" }}
            {{ range $i := $images }}
            {{ partial "facility.html" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="container px-4 mx-auto py-20" id="contact">
    <div class="text-center pb-6">
        <h2 class="main-heading">Book a Tour</h2>
        <div class="divider mx-auto"></div>
    </div>
    <div class="grid grid-flow-row lg:grid-cols-7 lg:grid-rows-3 gap-6">
        <div class="rounded-xl shadow flex flex-col bg-green-500 p-5 text-white col-span-2 row-span-2">
            <h4 class="text-xl font-bold mb-2">Contact Us</h4>
            <div class="mb-2">
                <a href="tel:6478121179" class="flex items-center">
                    <div class="h-6 w-6 mr-2">
                        {{ readFile "assets/images/icons/phone.svg" | safeHTML }}
                    </div>
                    <span>(647) 812-1179</span>
                </a>
            </div>
            <div class="flex items-center mb-2">
                <a href="https://www.instagram.com/angelic.treasures.aurora/" rel="noreferrer" target="_blank" class="flex items-center">
                    <div class="h-6 w-6 mr-2">
                        {{ readFile "assets/images/icons/instagram.svg" | safeHTML }}
                    </div>
                    angelic.treasures.aurora
                </a>
            </div>
            <div class="flex items-center mb-2">
                <a href="https://www.facebook.com/atcdAurora" rel="noreferrer" target="_blank" class="flex items-center">
                    <div class="h-6 w-6 mr-2">
                        {{ readFile "assets/images/icons/facebook.svg" | safeHTML }}
                    </div>
                    atcdaurora
                </a>
            </div>
        </div>
        <div class="col-span-3 row-span-3">
            {{ partial "camp/form" . }}
        </div>
        <div class="rounded-xl shadow flex flex-col bg-blue-500 p-5 text-white col-span-2 row-span-2">
            <div>
                <h4 class="text-xl font-bold mb-2">Pricing</h4>
            </div>
            <div>
                <span class="font-extrabold text-6xl">$50</span>
                <span class="text-xl font-medium">/day</span>
            </div>
            <div class="pt-3 text-sm text-gray-100">
                <span style="margin-right:2px;">&dagger;</span>Two week minimum enrollment
            </div>
        </div>
    </div>
</div>

{{ end }}
