@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-gradient {
    background: linear-gradient(#d7eaff, #ffe1ef);
}

.main-heading {
    @apply text-3xl font-extrabold;
}

.divider {
    @apply bg-pink-600 pt-1 mt-2 mb-4 w-20;
}

.two-col {
    columns: 2;
}

.two-col li {
    list-style-postion: inside;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card {
    @apply overflow-hidden rounded-lg shadow bg-white;
}
