<div class="py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">Location</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="relative card">
            <!-- <img src="/map-trimmed.png" alt="Map of Aurora" class="object-cover w-full md:absolute md:h-full" draggable="false"> -->
            {{ $hero := resources.Get "images/map-trimmed.png" }}
            <picture>
                {{ $img := $hero.Resize "1500x836 webp drawing" }}
                <source srcset="{{ $img.RelPermalink }}" type="image/webp" class="object-cover w-full md:absolute md:h-full">
                {{ $img := $hero.Resize "1500x836" }}
                <img src="{{ $img.RelPermalink }}" width="1500" height="836" alt="Map of Aurora" class="object-cover w-full md:absolute md:h-full">
            </picture>
            <div class="z-50 rounded text-center md:shadow-sm md:m-5 py-10 md:w-72 md:relative w-full bg-white">
                <address class="not-italic block">
                    Unit 103<br>
                    126 Wellington St. W<br>
                    Aurora, ON<br>
                    L4G 2N9
                </address>
                <div>
                    <div class="flex justify-center mt-4 mb-2">
                        <a href="tel:6478121179" class="px-8 py-3 border border-transparent text-base font-medium rounded-full text-white bg-pink-400 hover:bg-pink-500 md:py-4 md:text-lg md:px-10">
                            Call Us
                        </a>
                    </div>
                    <span class="block text-sm text-gray-600">(647) 812-1179</span>
                </div>
            </div>
        </div>
    </div>
</div>
