<div class="py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">Location</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="relative">
            <div id="map" class="rounded-lg shadow col-span-2 w-full"></div>
            <div class="absolute bg-white z-10 top-12 bottom-12 left-12 p-6 right-12 sm:right-auto rounded text-center shadow-sm">
                <div class="mt-4">
                    <h2>Aurora</h2>
                    <div class="divider mx-auto"></div>
                </div>
                <address class="not-italic block">
                    126 Wellington Street West #103<br>
                    Aurora, Ontario, L4G 2N9
                </address>
                <div class="flex justify-center my-4">
                    <a href="tel:6478121179" class="px-8 py-3 border border-transparent text-base font-medium rounded-full text-white bg-pink-400 hover:bg-pink-500 md:py-4 md:text-lg md:px-10">
                        Call Now
                    </a>
                </div>
                <span class="block">(647) 812-1179</span>
            </div>
        </div>
        <div class="grid md:grid-cols-3 gap-6">
            {{ $map := resources.Get "images/map.png" }}
            {{ $map = $map.Resize "x1000 webp" }}
            <!-- <img src="{{ $map.RelPermalink }}" alt="" class="w-full col-span-2 rounded-lg shadow" loading="lazy"> -->
        </div>
    </div>
</div>
