<div class="card">
    {{ $original := resources.Get .image }}
    <picture>
        {{ $img := $original.Resize "x600 webp" }}
        <source srcset="{{ $img.RelPermalink }}" type="image/webp">
        {{ $img := $original.Resize "x600" }}
        <img src="{{ $img.RelPermalink }}" alt="" loading="lazy">
    </picture>
    <div class="p-6">
        <h3 class="text-2xl font-bold mb-1">
            {{ htmlUnescape .name }}
        </h3>
        {{ if .age_range }}
        <h4 class="text-pink-500 text-lg font-bold">
            {{ htmlUnescape .age_range }}
        </h4>
        {{ end }}
        <p class="pt-3 text-gray-600">
            {{ htmlUnescape .description }}
        </p>
    </div>
</div>
