{{ define "main" }}

<div class="relative bg-white">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32" x-data="{ open: false }">
            {{ partial "nav.html" . }}

            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    <h1 class="text-4xl tracking-tight font-extrabold text-gray-700 sm:text-5xl md:text-6xl">
                        <span class="block xl:inline">Your Angelic Treasure</span>
                        <span class="block text-blue-400 xl:inline">belongs here</span>
                    </h1>
                    <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                        We are committed to provide quality child care and education for young children of all faiths and backgrounds. Angelic Treasures provides an environment that will not only be an enjoyable learning experience, but will foster the development of your children’s social, cognitive, emotional, psychological and physical growth.
                    </p>
                    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                        <div class="rounded-full shadow">
                            <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-full text-white bg-pink-400 hover:bg-pink-500 md:py-4 md:text-lg md:px-10">
                                Get started
                            </a>
                        </div>
                        <div class="mt-3 sm:mt-0 sm:ml-3">
                            <a href="#contact" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-full text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10">
                                Book a Tour
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        {{ $hero := resources.Get "images/hero.jpg" }}
        <picture class="flex h-56 w-full sm:h-72 md:h-96 lg:w-full lg:h-full">
            {{ $img := $hero.Resize "x1600 webp" }}
            <source srcset="{{ $img.RelPermalink }}" type="image/webp" class="object-cover">
            {{ $img := $hero.Resize "x1600" }}
            <img src="{{ $img.RelPermalink }}" alt="" class="object-cover block w-full">
        </picture>
    </div>
</div>

<div class=" py-20">
    <div class="container px-4 mx-auto">
        <div class="grid md:grid-cols-3 gap-6">
            <div class="shadow rounded-lg text-center flex flex-col justify-around">
                <div class="text-center mt-4">
                    <h2>Aurora</h2>
                    <div class="divider mx-auto"></div>
                </div>
                <address class="not-italic">
                    126 Wellington Street West #103<br>
                    Aurora, Ontario<br>
                    L4G 2N9
                </address>
                <div>
                    <a href="tel:6478121179" class="w-full px-8 py-3 border border-transparent text-base font-medium rounded-full text-white bg-pink-400 hover:bg-pink-500 md:py-4 md:text-lg md:px-10">
                        Call Now
                    </a>
                    <span class="block mt-8">(647) 812-1179</span>
                </div>
            </div>
            <div id="map" class="rounded shadow col-span-2"></div>
            {{ $map := resources.Get "images/map.png" }}
            {{ $map = $map.Resize "x1000 webp" }}
            <!-- <img src="{{ $map.RelPermalink }}" alt="" class="w-full col-span-2 rounded-lg shadow" loading="lazy"> -->
        </div>
    </div>
</div>

<div class="container mx-auto">
    <div class="grid lg:grid-cols-3">
        <div>
            {{ $img := resources.Get "images/untitled-280.jpg" }}
            {{ $img = $img.Resize "x600 webp" }}
            <img src="{{ $img.RelPermalink }}" alt="" class="rounded-lg shadow transform scale-90 rotate-6 translate-y-14">

            {{ $img := resources.Get "images/untitled-606.jpg" }}
            {{ $img = $img.Resize "x600 webp" }}
            <img src="{{ $img.RelPermalink }}" alt="" class="rounded-lg shadow transform scale-75 -rotate-6 translate-x-2 -translate-y-14">
        </div>
        <div class="col-span-2 ml-10">
            <div class="h-full flex flex-col align-middle justify-center">
                <h2 class="main-heading">About Angelic Treasures Child Care</h2>
                <div class="divider"></div>
                <p class="text-gray-600 mb-2">Angelic Treasures Child Care is where quality child care and education meets family values. From French offerings to age-appropriate activities, we offer an array of programs focused on your child’s social, cognitive, emotional, psychological, and physical development. Plus, we provide an unparalleled home-away-from-home environment to ensure your child has an enjoyable and comfortable learning experience.</p>
                <p class="text-gray-600">We love your angels as much as you do, so it’s no wonder we’re the best at what we do.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-gradient py-20" id="facilities">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">See Our Facilities</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ $images := resources.Match "images/facilities/*" }}
            {{ range $i := $images }}
            {{ partial "facility.html" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">Your Angelic Treasure Belongs Here</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ range $.Site.Data.icons }}
            {{ partial "icon.html" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="bg-gradient py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">Our Programs</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ range $.Site.Data.programs }}
            {{ partial "program.html" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="container px-4 mx-auto py-20" id="faq">
    <div class="text-center pb-6">
        <h2 class="main-heading" id="faq">Frequently Asked Questions</h2>
        <div class="divider mx-auto"></div>
    </div>
    <div class="bg-white mx-auto border border-gray-200 rounded-lg shadow-sm" x-data="{ selected:null }">
        <ul>
            {{ range $i, $item := $.Site.Data.faq }}
            {{ partial "faq.html" (dict "i" $i "item" $item) }}
            {{ end }}
        </ul>
    </div>
</div>

<div class="bg-gradient py-20" id="staff">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">Our Talented Team</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row lg:grid-cols-3 gap-6">
            {{ range $.Site.Data.staff }}
            {{ partial "staff.html" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="container mx-auto py-20" id="contact">
    <div class="text-center pb-6">
        <h2 class="main-heading">Book a Tour</h2>
        <div class="divider mx-auto"></div>
    </div>
    <div class="grid grid-flow-row lg:grid-cols-6 gap-5">
        <div class="col-span-2 text-gray-500 px-4 py-5 bg-white sm:p-6">
            <h4 class="text-xl text-black font-bold mb-2">Contact Information</h4>

            <p class="mb-2">Give us a call, follow us on social media or book a center tour using Calendly or the form.</p>

            <div class="flex items-center mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                </svg>
                <span>
                    (647) 812-1179
                </span>
            </div>

            <a href="https://www.facebook.com/atcdAurora">
                <svg class="h-6 w-6 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                    <path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path>
                </svg>
            </a>

            <a href="https://www.instagram.com/angelic.treasures.aurora/">
                <svg class="h-6 w-6 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                    <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                </svg>
            </a>


            <a href="https://calendly.com/directoraurora/30min-facility-tour"
               class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-full text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10"
               target="_blank">
                Via Calendly
                <span class="ml-2 h-5 w-5">
                    {{ readFile "assets/images/calendly.svg" | safeHTML }}
                </span>
            </a>
        </div>
        <div class="col-span-4">
            {{ partial "form.html" . }}
        </div>
    </div>
</div>

{{ end }}
