{{ define "main" }}

{{ .Content }}

{{ partial "camp/itinerary2.html" . }}

<div class="py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">What to Expect</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ range $.Site.Data.camp.expect }}
            {{ partial "values.html" . }}
            {{ end }}
        </div>
    </div>
</div>

{{ partial "camp/menu.html" . }}

<div class="container px-4 mx-auto py-20">
    <div class="text-center pb-6">
        <h2 class="main-heading">Leadership Team</h2>
        <div class="divider mx-auto"></div>
    </div>
    <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
        {{ range $.Site.Data.staff }}
        {{ partial "staff.html" . }}
        {{ end }}
    </div>
</div>

<div class="bg-gradient py-20" id="facilities">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">See Our Facilities</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ $images := resources.Match "images/facilities/*" }}
            {{ range $i := $images }}
            {{ partial "facility.html" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="container mx-auto px-4 py-20">
    <div class="w-full bg-blue-500 rounded-xl">
        <div class="flex justify-between items-center p-5 py-10 text-white">
            <h2 class="text-3xl">Two Camp Pricing</h2>
            <div>
                <span class="font-bold text-6xl">$50</span>
                <span class="text-xl">/day</span>
            </div>
            <div>sdfsdfdsf</div>
            <a href="" class="bg-white rounded-full px-8 py-3 text-blue-500 font-bold">
                Sign up Now
            </a>
        </div>
    </div>
</div>

{{ partial "partials/camp/form.html" . }}

{{ end }}
