{{ define "main" }}

{{ .Content }}

{{ partial "camp/itinerary2.html" . }}

<div class="py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">What to Expect</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ range $.Site.Data.camp.expect }}
            {{ partial "values.html" . }}
            {{ end }}
        </div>
    </div>
</div>

{{ partial "camp/menu.html" . }}

<div class="container px-4 mx-auto py-20">
    <div class="text-center pb-6">
        <h2 class="main-heading">Leadership Team</h2>
        <div class="divider mx-auto"></div>
    </div>
    <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
        {{ range $.Site.Data.staff }}
        {{ partial "staff.html" . }}
        {{ end }}
    </div>
</div>

<div class="bg-gradient py-20" id="facilities">
    <div class="container px-4 mx-auto">
        <div class="text-center pb-6">
            <h2 class="main-heading">See Our Facilities</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ $images := resources.Match "images/facilities/*" }}
            {{ range $i := $images }}
            {{ partial "facility.html" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="container mx-auto px-4 py-20">
    <div class="text-center pb-6">
        <h2 class="main-heading">Pricing</h2>
        <div class="divider mx-auto"></div>
    </div>
</div>

{{ partial "partials/camp/form.html" . }}

{{ end }}
