<div class="container mx-auto px-4 py-20">
    <div class="text-center pb-6">
        <h2 class="main-heading">Program Itinerary</h2>
        <div class="divider mx-auto"></div>
    </div>

    <div id="tab_wrapper" x-data="{ tab: 'junior' }">
        <!-- The tabs navigation -->
        <nav class="flex">
            <button class="tab ext-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none border-b-2 border-transparent"
                    :class="{ 'active text-blue-500 font-medium border-blue-500': tab === 'junior' }"
                    @click.prevent="tab = 'junior'" href="#">Junior</button>

            <button class="tab ext-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none border-b-2 border-transparent"
                    :class="{ 'active text-blue-500 font-medium border-blue-500': tab === 'toddler' }"
                    @click="tab = 'toddler'" href="#">Toddler</button>
        </nav>

        <!-- The tabs content -->
        <div x-show="tab === 'junior'">
            <table class="table table-auto w-full">

            </table>
        </div>
        <div x-show="tab === 'toddler'">
            <table class="table table-auto w-full">
                <tbody>
                    <tr>
                        <td>7:00 - 8:00AM</td>
                        <td>Centre opens, drop-off</td>
                    </tr>
                    <tr>
                        <td>8:00 - 8:30AM</td>
                        <td>Morning activities</td>
                    </tr>
                    <tr>
                        <td>8:30 - 8:45AM</td>
                        <td>Morning snack</td>
                    </tr>
                    <tr>
                        <td>8:45AM - 9:00AM</td>
                        <td>Bathroom routine</td>
                    </tr>
                    <tr>
                        <td>9:00AM - 10:00AM</td>
                        <td>Religion, art and science/sensory</td>
                    </tr>
                    <tr>
                        <td>10:00AM - 11:00AM</td>
                        <td>Outdoor play</td>
                    </tr>
                    <tr>
                        <td>11:00AM - 11:15AM</td>
                        <td>Bathroom routine</td>
                    </tr>
                    <tr>
                        <td>11:15AM - 11:30AM</td>
                        <td>Small group</td>
                    </tr>
                    <tr>
                        <td>11:30AM - Noon</td>
                        <td>Lunch time</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
