<div class="container mx-auto px-4 py-20">
    <div class="text-center pb-6">
        <h2 class="main-heading">Program Itinerary</h2>
        <div class="divider mx-auto"></div>
    </div>

    <table class="table table-auto w-full">
        <tbody>
            <tr>
                <td>8:00AM</td>
                <td>Breakfast</td>
            </tr>
            <tr>
                <td>9:00AM</td>
                <td>Chapel</td>
            </tr>
            <tr>
                <td>9:30AM</td>
                <td>Arts and Crafts</td>
            </tr>
            <tr>
                <td>11:00AM</td>
                <td>Outdoor Sports and Games</td>
            </tr>
            <tr>
                <td>Noon</td>
                <td>Lunch</td>
            </tr>
            <tr>
                <td>12:45PM</td>
                <td>Quiet Activities</td>
            </tr>
            <tr>
                <td>2:30PM</td>
                <td>Afternoon Programming</td>
            </tr>
            <tr>
                <td>3:30PM</td>
                <td>Snack</td>
            </tr>
            <tr>
                <td>4:00PM</td>
                <td>Outdoor Play</td>
            </tr>
        </tbody>
    </table>

</div>
