<!--
<div class="container mx-auto px-4 py-20">
    <div class="w-full bg-blue-500 rounded-xl">
        <div class="flex justify-between items-stretch p-5 py-10 text-white divide-x-2 divide-dashed">
            <div class="w-1/4 p-5 flex items-center">
                <h2 class="text-3xl">Two Camp Pricing</h2>
            </div>
            <div class="w-1/4 p-5 flex items-center">
                <div>
                    <span class="font-extrabold text-6xl">$50</span>
                    <span class="text-xl font-medium">/day</span>
                </div>
            </div>
            <div class="w-1/4 p-5 flex items-center">
                Two week minimum
            </div>
            <div class="w-1/4 p-5 flex items-center">
                <a href="" class="bg-white rounded-full px-8 py-3 text-blue-500 font-bold mx-auto">
                    Sign up Now
                </a>
            </div>
        </div>
    </div>
</div>
-->


<div class="rounded-xl shadow flex flex-col bg-blue-500 p-5 text-white">
    <div>
        <h4 class="text-xl font-bold mb-2">Pricing</h4>
    </div>
    <div>
        <span class="font-extrabold text-6xl">$50</span>    
        <span class="text-xl font-medium">/day</span>
    </div>
    <div class="pt-3 text-sm text-gray-100">
        <span style="margin-right:2px;">&dagger;</span>Two week minimum enrollment
    </div>
</div>
